<?xml version="1.0"?>
<!--
/**
 * I95dev_Grid route xml
 *
 * @category    I95dev
 * @package     I95dev_Grid
 * @author      I95dev Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="grid" frontName="grid">
            <module name="I95dev_Grid" />
        </route>
    </router>
</config>
